.reveal div.intro {
    text-align: left;
    padding: 20px 60px;
    margin-left: 100px;
}

.reveal div.intro:before {
    content: "";
    display: block;
    background: #65308f;
    width: 20px;
    height: 200px;
    position: absolute;
    transform: rotate(20deg);
    top: 20px;
    left: 90px;
    transition: transform 0.4s;
}

.reveal div.intro.easeIn:before {
    transform: rotate(-60deg);
}

.reveal h2.intro:before {
    content: "";
    display: block;
    background: #65308f;
    width: 10px;
    height: 130px;
    position: absolute;
    transform: rotate(20deg);
    top: 20px;
    left: 0;
    transition: transform 0.4s;
}

.reveal h2.intro.easeIn:before {
    transform: rotate(-60deg);
}

.reveal h2.takeaways:before {
    width: 15px;
    height: 170px;
    top: 15px;
}

.animatedlogo {
    transition: left 2s, top 2s, opacity 2s;
}
.animatedlogoQuick {
    transition: left .8s, top .8s, opacity .8s;
}
.safaricontent {
    transition: background-position ease 2s;
}

h2.clients {
    opacity: 0;
    position: absolute;
    left: 15%;
    top: 90%;
    transition: opacity 0.5s;
}

h2.browser {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 48%;
    transition: opacity 0.5s;
}

h2.driver {
    opacity: 0;
    position: absolute;
    left: 75%;
    top: 75%;
    transition: opacity 0.5s;
}

.reveal section img.tv_os {
    position: absolute;
    left: 45%;
    border: 0;
    box-shadow: none;
    width: 200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.reveal .dvb1, .reveal .dvb2, .reveal .dvb3,
.reveal .dvb1_arrow, .reveal .dvb2_arrow, .reveal .dvb3_arrow {
    opacity: 0;
    transition: opacity 0.3s;
}

.reveal section img.tv_os.showme,
.reveal .dvb1.showme, .reveal .dvb2.showme, .reveal .dvb3.showme,
.reveal .dvb1_arrow.showme, .reveal .dvb2_arrow.showme, .reveal .dvb3_arrow.showme {
    opacity: 1;
}

.hbbtype h2 {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}

.reveal .hbbtype h2:before {
    top: -30px;
    left: 0;
}

.reveal .legend {
    display: inline-block;
    font-size: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.54);
    width: 40px;
    height: 30px;
    border: solid 1px #fff;
    margin-right: 6px;
    white-space: nowrap;
}

#ait {
    position: absolute;
    width: 100px;
    border: 0;
    box-shadow: none;
    z-index: 2;
    top: 9%;
    left: 17%;
    offset-path: path('m471.98398 8.0c-51.10675 14.763205 -236.05096 38.75591 -306.64038 88.57923c-70.58943 49.823326 -107.57827 126.09252 -116.89619 210.36072c-9.317917 84.26819 7.3405647 229.43237 60.988693 295.24847c26.824059 32.908142 81.17823 53.66815 134.26181 68.27728c26.541794 7.3045044 52.765945 13.071289 75.07234 18.049988c11.153198 2.4893188 21.326965 4.781555 30.071259 6.97052c1.0930481 0.2736206 2.1637573 0.54571533 3.2112427 0.81622314l1.0679321 0.27825928');
}

.animate {
    animation-name: pathy;
    animation-duration: 3200ms;
    animation-timing-function: linear;
}
#ait.animate {
    width: 0;
}

@keyframes pathy {
    from {
        width: 0px;
    }
    10% {
        width: 100px;
    }
    90% {
        width: 100px;
    }
    100% {
        width: 0;
        offset-distance: 100%;
    }
}
