.reveal div.intro {
    text-align: left;
    padding: 20px 40px;
}

.reveal div.intro:before {
    content: "";
    display: block;
    background: #65308f;
    width: 10px;
    height: 130px;
    position: absolute;
    transform: rotate(20deg);
    top: 20px;
    left: 0;
}

.animatedlogo {
    transition: left 2s, top 2s;
}

h2.clients {
    opacity: 0;
    position: absolute;
    left: 15%;
    top: 90%;
    transition: opacity 0.5s;
}

h2.browser {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 48%;
    transition: opacity 0.5s;
}

h2.driver {
    opacity: 0;
    position: absolute;
    left: 75%;
    top: 75%;
    transition: opacity 0.5s;
}
